<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Show</title>
</head>
<body>
<p th:text="${user.getSurname() + ', ' +user.getName() + ', ' + user.getLastName() + ', ' + user.getJobTitle() }">VALUE</p>

<div th:if="${executor}">
    <span>text: </span> <span th:text="${executor.getTextOrder()}">Поручение</span>

    <form th:method="PATCH" th:action="@{/users/{id}/release(id=${user.getId()})}">
        <input type="submit" value="Выполнено"/>
    </form>
</div>

<div th:if="${assignment}">
    <span>text</span>
    <form th:method="PATCH" th:action="@{/assignments/{id}/assign(id=${assignment.getId()})}">
        <label for="assignment">Выберите assignment</label>
        <select th:object="${assignment}" th:field="*{id}" id="assignment">
            <option th:each="assignment : ${assignments}" th:value="${assignment.getId()}" th:text="${assignment.getTextOrder()}">
            </option>
        </select>
        <input type="submit" value="Назначить"/>
    </form>
</div>

<hr/>

<form th:method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>
